# ---------------------------
# Java / Spring Boot
# ---------------------------
*.class
*.jar
*.war
/vaja1Ris/target/
/vaja1Ris/generated-sources/
/vaja1Ris/generated-test-sources/
/vaja1Ris/*.iml
/vaja1Ris/.mvn/wrapper/maven-wrapper.properties

# ---------------------------
# Node / Frontend
# ---------------------------
/frontend/node_modules/

# ---------------------------
# IDE / Editor
# ---------------------------
/.vscode/
/.idea/
/*.log

# ---------------------------
# Environment / temp
# ---------------------------
.env

# ---------------------------
# Other Java / system files
# ---------------------------
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.mtj.tmp/
hs_err_pid*
replay_pid*
